@import "tailwindcss";

@theme {
  --font-be-vietnam-pro: "Be Vietnam Pro", sans-serif;
  /* ## Colors */

  /* ### Primary */
  --color-Bright-Red: hsl(12, 88%, 59%);
  --color-Dark-Blue: hsl(228, 39%, 23%);
  --color-Bright-Red-Sup-Light: hsl(12, 88%, 69%);
  --color-purple: #5e3fb8;

  /* ### Neutral */
  --color-Dark-Grayish-Blue: hsl(227, 12%, 61%);
  --color-Very-Dark-Blue: hsl(233, 12%, 13%);
  --color-Very-Pale-Red: hsl(13, 100%, 96%);
  --color-Very-Light-Gray: hsl(0, 0%, 98%);

  /* set the animation */
  --animate-move: move 10s linear infinite;
}

/* animate the bubbles */
.bubbles span {
  pointer-events: none;
  animation-duration: calc(500s / var(--i));
  box-shadow: 0 0 0 1px var(--color-Bright-Red),
    0 0 50px var(--color-Bright-Red-Sup-Light),
    0 0 100px var(--color-Bright-Red-Sup-Light);

  &:nth-child(even) {
    box-shadow: 0 0 0 1px #fee685, 0 0 50px #fee685, 0 0 100px #fee685;
  }
}

@keyframes move {
  from {
    transform: translateY(100vh) scale(0.5);
  }
  to {
    transform: translateY(var(--height)) scale(1);
  }
}

/* the background images will be added here */

/* change the highlighting color */
::selection {
  background-color: #ffecbc;
  color: var(--color-heading);
}

::-moz-selection {
  background-color: #ffecbc;
  color: var(--color-heading);
}

/* mobile nav animation */
#menu {
  animation: show-nav 1s ease 1 forwards;
  &.fade-nav {
    animation: fade-nav 1s ease 1 forwards;
  }
}

@keyframes show-nav {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes fade-nav {
  to {
    transform: translateX(105%);
  }
}

/* dark mood */
body.dark {
  transition: 2s;
  background-color: #0c192c;
  ::selection {
    background-color: #d6c7ff;
    color: black;
  }

  ::-moz-selection {
    background-color: #d6c7ff;
    color: black;
  }

  a {
    color: rgb(246, 246, 246);
    &:hover {
      color: #d6c7ff;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: rgb(246, 246, 246);
  }

  p {
    color: #d6c7ff;
  }
  .dark-btn {
    background-color: #5e3fb8;
    transition: 0.5s;
    &:hover {
      background-color: #8f68ff;
      color: #f6f6f6;
    }
  }

  .bubbles span {
    background-color: #4fc3dc;
    box-shadow: 0 0 0 1px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;

    &:nth-child(even) {
      background-color: #ff2d75;
      box-shadow: 0 0 0 1px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
    }
  }

  svg {
    fill: rgb(246, 246, 246);
    transform: rotate(-360deg);
    &:hover {
      transform: rotate(360deg);
    }
  }

  @media (max-width: 768px) {
    .features .heading-container {
      background-color: transparent;
    }
  }

  .testimonials li {
    background-color: rgb(6, 6, 25);
  }

  .cta {
    background-color: #5e3fb8;

    button a {
      color: #5e3fb8;
    }
  }

  footer {
    background-color: rgb(6, 6, 25);
  }

  #menu {
    background-color: rgb(6, 6, 25);
  }

  .hamburger span {
    background-color: #f6f6f6;
  }
}

/* hamburger menu */
.hamburger {
  transition: all 0.25s;
  span {
    transition: all 0.5s;
  }
}
.hamburger-bottom {
  transform: translateY(14px);
}
.hamburger.open {
  transform: rotate(90deg);
  transform: translateY(0px);

  .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }

  .hamburger-middle {
    display: none;
  }

  .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }
}
