@import "tailwindcss";

@theme {
  /* set font family */
  --font-be-vietnam-pro: "Be Vietnam Pro", sans-serif;

  /* ## Colors */

  /* ### Primary */
  --color-Bright-Red: hsl(12, 88%, 59%);
  --color-Dark-Blue: hsl(228, 39%, 23%);
  --color-Bright-Red-Sup-Light: hsl(12, 88%, 69%);

  /* ### Neutral */
  --color-Dark-Grayish-Blue: hsl(227, 12%, 61%);
  --color-Very-Dark-Blue: hsl(233, 12%, 13%);
  --color-Very-Pale-Red: hsl(13, 100%, 96%);
  --color-Very-Light-Gray: hsl(0, 0%, 98%);
  --color-heading: hsl(46, 16%, 21%);

  /* set the animation */
  --animate-move: move 10s linear infinite;
}

/* animate the bubbles */
.bubbles span {
  pointer-events: none;
  animation-duration: calc(120s / var(--i));
  box-shadow: 0 0 0 1px var(--color-Bright-Red),
    0 0 50px var(--color-Bright-Red-Sup-Light),
    0 0 100px var(--color-Bright-Red-Sup-Light);

  &:nth-child(even) {
    box-shadow: 0 0 0 1px #fee685, 0 0 50px #fee685, 0 0 100px #fee685;
  }
}

@keyframes move {
  from {
    transform: translateY(100vh) scale(0);
  }
  to {
    transform: translateY(-10vh) scale(1);
  }
}

/* change the highlighting color */
::selection {
  background-color: #ffecbc;
  color: var(--color-heading);
}

::-moz-selection {
  background-color: #ffecbc;
  color: var(--color-heading);
}

/* create a  gradient background */
h1 span {
  color: transparent;
  background: linear-gradient(
    to right,
    #d6c7ff,
    #ab8bff,
    #d6c7ff,
    #ab8bff,
    #d6c7ff
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 3s linear infinite;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}

/* dark mood */
body.dark {
  background-color: #0c192c;
  ::selection {
    background-color: #d6c7ff;
    color: black;
  }
  ::-moz-selection {
    background-color: #d6c7ff;
    color: black;
  }
  a {
    color: rgb(246, 246, 246);
    &:hover {
      color: #d6c7ff;
    }
  }
  h1 {
    color: rgb(246, 246, 246);
    span {
      background: linear-gradient(
        to right,
        #fc72ff,
        #8f68ff,
        #487bff,
        #8f68ff,
        #fc72ff
      );
      background-size: 200%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: animate-gradient 3s linear infinite;
    }
  }
  .get-started-btn {
    background-color: #5e3fb8;
    transition: 0.5s;
    &:hover {
      background-color: #8f68ff;
      color: rgb(246, 246, 246);
    }
  }

  .bubbles span {
    background-color: #4fc3dc;
    box-shadow: 0 0 0 1px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;

    &:nth-child(even) {
      background-color: #ff2d75;
      box-shadow: 0 0 0 1px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
    }
  }

  svg {
    fill: rgb(246, 246, 246);
  }
}
